/* .major {
  border-left: 5px green solid;
  /* border-top-left-radius: 8px; */
/* border-bottom-left-radius: 8px; */
/* background-color: rgb(46, 192, 46);
  color: white;
} */
/* .minor {
  border-left: 5px red solid;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
/* color: white;
  background-color: rgb(252, 81, 81);
} */
